<%- include('../partials/_html-head.ejs', {title: 'Sign-up'}) %>
<%- include('../partials/_nav-bar.ejs') %>
<main>

  <article class="sign-up">
    <h1 class="create-account">Create a new account!</h1>
    <form action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input class="username" type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input class="password" type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password:</label>
      <input class="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" />
      <button type="submit">Sign up</button>
    </form>
  </article>

</main>

</body>

</html>