<%- include('./partials/_html-head.ejs', {title: 'Home'}) %>
<%- include('./partials/_nav-bar.ejs') %>


  <main>
    <% if (user) { %>
    <h1>Welcome to the app, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign-Out</a>
    </p>
    <% } else { %>
    <h1>Welcome to the app!</h1>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">sign in</a>
    <% } %>
  </main>
</body>
</html>
