<%- include('../partials/_html-head.ejs', {title: 'Destinations' }) %>
<%- include('../partials/_nav-bar.ejs') %>



        <body>
            <h1>
                <%= destination.country %>
            </h1>
            <article>
                
            </article>
        </body>

        </html>