<%- include('../partials/_html-head.ejs', {title: 'My Profile' }) %>
<%- include('../partials/_nav-bar.ejs') %>

        <main>
            <h1>My Profile</h1>

            <h3> My Notes</h3>
            <p> You created <%= noteCount %> notes
    
            </p>

        </main>
        </body>

        </html>